@{
    ViewData["Title"] = "VerDetalleCandidato";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Detalles Candidatos</title>
</head>
<body>
<img src="@ViewBag.VerDetalleCandidato.Foto" height="500">
<div class="Infocandidato">
<p><b><u>Nombre:</u> @ViewBag.VerDetalleCandidato.Nombre</b></p>
<p><b><u>Apellido:</u> @ViewBag.VerDetalleCandidato.Apellido</b></p>
<p><b><u>Fecha de nacimiento:</u> @ViewBag.VerDetalleCandidato.FechaNacimiento.ToShortDateString()</b></p>
<p><b><u>ID:</u> @ViewBag.VerDetalleCandidato.IdCandidato</b></p>
<p><b><u>ID del partido:</u> @ViewBag.VerDetalleCandidato.IdPartido</b></p>
<p><b><u>Postulacion:</u> @ViewBag.VerDetalleCandidato.Postulacion</b></p>
</div>

<a href='@Url.Action("VerDetallePartido","Home")?idPartido= @ViewBag.VerDetalleCandidato.IdPartido'><button>Volver al partido</button></a>
</body>
</html>